.project {}

.header {

    font-family: 'Staatliches', cursive;
    color: rgb(25, 14, 61);
    word-break: break-word;
    width: 100%;
    text-align: center;
    font-size: 8vh;
    padding: 5vh 0% 6vh;
    user-select: none;

}