html, body{
    height: 100%;
    margin: 0px;
    background-image: linear-gradient(to right, #ffffff, #d9dbdd);
    background-repeat: no-repeat;
    //background-attachment: fixed;


}
html{
    overflow: auto;
}


    .p {
        font-family: Helvetica;
        font-size: 1.5vw;
        height: auto;
        width: 65%;

        padding: 15px;

        margin: 2% auto 15%;
        display: block;
        overflow: v;

        border-radius: 4px;
        background-color: #ff6200;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .header{
        font-family: Helvetica;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin: auto;
        padding: 10px;
    }

    .button{
        background-color: inherit;
        border-radius: 5px;
        border: groove;
        padding: 10px;
        width: 50%;
        text-align: center;
        margin: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: inherit;
        cursor: pointer;
    }

    .button:active{
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
        transform: translateY(2px);
    }
    .button.play_again{
        display: none;
        margin: 10px auto;
        width: 25%;

    }

    .output{
        font-family: Helvetica;
        font-size: 1.5vw;
        text-align: center;

        width: 65%;
        padding: 15px;

        margin: 5px 1px 5px 1px;
        display: block;
        overflow: auto;

        border-radius: 4px;
        background-color: #ff6200;

    }

    #roll_output{
        width: 75%;
    }

    #first_roll{
        width: 28%;
        height: auto;

        display: none;
        font-family: Helvetica;
        font-size: 1.5vw;
        text-align: center;
        margin: 2px;
        border-radius: 4px;
        background-color: #ff6200;
    }

    /*not sure if will be used*/
    #game{
 	background-color: #ffa205;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
	border-style: solid;
    display: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    }

    #directions{
        background-color: #ffa200;
        padding: 10px;
        margin: auto;
        border-radius: 4px;
        display: none;
	     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);

    }


    #win_loss{
      text-align: center;
      font-size: 2vw;
      font-family: impact;
      margin: auto;
      width: 72%;
      display: none;
      height: auto;
      border-radius: 4px;


    }

    input[type=text]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }



    .container{
        position:relative;
        width:auto;
        height:auto;
        margin: auto;
    }
